.dark,
.dark .search input{
  background-color: #262435;
}

.dark .footer{
  color: white;
  font-weight: normal;
}

.dark .body-table tr:nth-child(even) {
  background-color: #64508295;
}

.dark .scroll,
.dark .table-header button:hover,
.dark .edit-body,
.dark .new-body,
.dark .del-body{
  box-shadow: -2px 2px 5px rgb(27, 27, 27);
}


