@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.details{
    position: absolute;
    z-index: 10;
    top: 1.4em;
    left: 40em;
}

.card{
    margin: 0 auto;
    width: 350px;
    padding: 1em;
    border-radius: 10px;
    background-color: #B19DD0;
    color: white;
    box-shadow: -2px 2px 5px rgb(206, 206, 206);
    min-height: 250px;
}

.card .header-details{
    display: flex;
    justify-content: space-between;
}

.card .tag{
    border: none;
    width: 80px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .4);
    color: #A437DB;
    font-weight: bolder;
    cursor: default;
}

.card .header-details button{
    cursor: pointer;
    width: 30px;
    font-size: 1.5em;
    color: #A437DB;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.card .header-details button:hover{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .4);
}

.card .invalid{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card p{
    font-size: 1.4em;
}

.card h2{
    text-align: center;
    font-size: 1.7em;
    cursor: default;
}

.card section{
    margin-top: 1em;
    padding: 10px;
}

.card .valid p{
    margin-bottom: .5em;
}

.card section span{
    color: #A437DB;
}

.on,
.off{
    position: relative;
    margin-left: 10px;
}

.on:before{
    top: 25%;
    width: 13px;
    height: 13px;
    background: #1c86057d;
    border-radius: 9px;
    position: absolute;
    content: "";
    margin: 0 auto;
    animation: on-pulse 2s linear infinite;
}

.on:after{
    top: 25%;
    width: 13px;
    height: 13px;
    background: #2fbd0f;
    border-radius: 9px;
    position: absolute;
    content: "";
    margin: 0 auto;
}

.off:before{
    top: 25%;
    width: 13px;
    height: 13px;
    background: rgba(199, 18, 18, 0.704);
    border-radius: 9px;
    position: absolute;
    content: "";
    animation: on-pulse 2s linear infinite;
}

.off:after{
    top: 25%;
    width: 13px;
    height: 13px;
    background: rgb(199, 18, 18);
    border-radius: 9px;
    position: absolute;
    content: "";
}

@keyframes on-pulse{
    0%{
        transform: scale(1.0);
    }

    50%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(2);
        background-color: transparent;
    }
}
