.footer{
    display: flex;
    justify-content: space-between;
    color: #B19DD0;
    font-weight: 600;
    margin: 0;
    padding: 10px;
    border-top: 1px solid #b19dd060;
    font-size: 11px;
}

.footer p{
    display: flex;
    align-items: center;
}

.footer p svg{
    margin-right: 5px;
}

.footer span{
    color: #A437DB;
    margin-right: 5px;
}

.footer .credits span,
.footer .credits svg{
    margin-left: 5px;  
}

.footer a svg{
    color: #A437DB;
    width: 15px;
    height: 15px;
    cursor: pointer;
}