*{
    padding: 0px;
    margin: 0px;
    position: relative;
}

.nav{
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #b19dd060;
}

.nav img{
    width: 27vw;
    cursor: pointer;
}

.main{
    width: 90%;
    height: 100%;
    margin: 3.5em auto;
}