.modal-body{
    top: 25%;
    left: 30%;
    position: absolute;
    z-index: 10;
    background-color: white;
    box-shadow: -2px 2px 5px rgb(206, 206, 206);
    width: 40%;
}

.modal-body header{
    display: flex;
    padding: .5em 0em;
    justify-content: space-between;
    text-align: center;
}

.modal-body header h2{
    margin: 0 auto;
    color: #A437DB;
}

.close{
    background-color: transparent;
    border: none;
    color: #A437DB;
    font-size: 1.5em;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
}

.close:hover{
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(187, 187, 187);
}

.modal-body .footer{
    padding: 5px 0;
}