.no-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    color: #B19DD0;
}

.no-register div{
    display: flex;
    margin-bottom: 10px;
}

.no-register span svg{
    font-size: 2em;
    margin-left: 10px;
}

.no-register .add-click a{
    color: #A437DB;
    cursor: pointer
}

.no-register .add-click a:hover{
    text-decoration: underline;
}

.scroll{
    max-height: 63vh;
    overflow: auto;
    border-radius: 10px;
    box-shadow: -2px 2px 5px rgb(206, 206, 206);
}

.table-header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.table-header .new-register,
.search .btn-search{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #A437DB;
    color: white;
    font-size: 1.15em;
}

.table-header button:hover{
    box-shadow: 2px 2px 5px rgb(187, 187, 187);
}

.search .btn-search{
    margin-left: 10px;
}

.search input{
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    font-size: 1.1em;
    color: #A437DB;
    border: 1px solid #B19DD0;
}

.search input::placeholder{
    color: #B19DD0;
}

.search input:focus{
    outline-color: #A437DB;
}

.search .limit{
    margin-left: 10px;
    width: 50px;
    text-indent: 10px;
}

.scroll::-webkit-scrollbar{
    width: 10px;
}

.scroll::-webkit-scrollbar-track {
    background: rgb(237, 237, 237);
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #B19DD0;
}

.body-table{
    width: 100%;
    border-collapse: collapse;
}

.body-table th{
    text-align: left;
    background-color: #A437DB;
    padding: 10px 0;
    font-size: 1.2em;
    color: white;
}

.body-table .min{
    min-width: 60px;
}
.body-table .filter{
    cursor: pointer;
}

.body-table th:first-child,
.body-table td:first-child{
    padding-left: 10px;
}

.body-table th:last-child{
    padding-right: 5px;
}

.body-table td{
    padding: 10px;
    font-size: 1.2em;
    color: #A437DB;
    max-width: 100px;
}

.body-table tr .click{
    cursor: pointer;
}

.body-table tr .edit{
    text-align: center;
}

.body-table tr .action{
    text-align: right;
}

.body-table tr .delete svg,
.body-table tr .edit svg{
    font-size: 1.3em;
    cursor: pointer;
}

.body-table tr:nth-child(even) {
    background-color: #b19dd095;
}

.body-table tbody .on::before,
.body-table tbody .on::after,
.body-table tbody .off::before,
.body-table tbody .off::after{
    top: 35%;
}

.body-table tbody .off{
    position: relative;
}